# Python / Backend
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
.env
.pytest_cache/

# Node / Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database / OS
*.db
*.sqlite3
.DS_Store
Thumbs.db
